h1 {
    color: darkgreen;
}

header {
    font-family: Georgia;
    text-align: center;
}

p {
    line-height: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.also-like {
    text-transform: uppercase;
}

img {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

section {
    clear: left;
}